#browser.native.linux #header, #browser.native.win #header {
    min-height: 0px;
    overflow: visible;
    height: 0px;
    z-index: 5;
}

#browser.native #titlebar {
    top: 4px;
}

#browser.native .toolbar.toolbar-addressbar {
    padding-left: 35px;
}

#browser.tabs-top #header {
    display: none
}

#browser.tabs-right #header {
    display: none
}

#browser.tabs-bottom #header {
    display: none
}

#browser.tabs-left #header {
    display: none
}

#browser.tabs-left #tabs {
    width: 500px;
}
